@using PagedList.Mvc;
@model PagedList.IPagedList<WebFrontUsuario.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Usuarios Consulta";
}

<h2>Usuarios Consulta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Nombre) <!-- Mostrar el encabezado del nombre del primer elemento en la lista -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Fecha) <!-- Mostrar el encabezado de la fecha del primer elemento en la lista -->
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Sexo) <!-- Mostrar el encabezado del sexo del primer elemento en la lista -->
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre) <!-- Mostrar el nombre del usuario actual en la lista -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha) <!-- Mostrar la fecha del usuario actual en la lista -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo) <!-- Mostrar el sexo del usuario actual en la lista -->
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarUsuario", new { id = item.Id }, new { @class = "edit-link", data_id = item.Id }) |
                @Html.ActionLink("Eliminar", "EliminarUsuario", new { id = item.Id }, new { @class = "delete-link", data_id = item.Id })
            </td>
        </tr>
    }
</table>

<!-- Mostrar controles de paginación -->
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("UsuariosConsulta", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

@section Scripts {
    <script>
        $(function () {
            $(".delete-link").click(function (e) {
                e.preventDefault();
                var userId = $(this).data("id");
                if (confirm("¿Está seguro de que desea eliminar este usuario?")) {
                    $.ajax({
                        url: '@Url.Action("EliminarUsuario", "Usuarios")',
                        type: 'POST',
                        data: { id: userId },
                        success: function (result) {
                            if (result.success) {
                                alert(result.message);
                                location.reload(); // Recargar la página después de eliminar
                            } else {
                                alert(result.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText); // Mostrar respuesta detallada del servidor en la consola
                            alert("Error al intentar eliminar el usuario. Consulte la consola para más detalles.");
                        }
                    });
                }
            });
        });
    </script>
}